body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
background: #ffffff;
box-shadow: 0 10px 20px #999999;
border-radius: 20px;
max-width: 1080px;
margin: 50px auto;

}

header  {
border-bottom: 1px solid #EAEAEA;
  .logo{
    margin-right: 15px;
    width: 50px;
    height: 50px;
  }
  h3, p {
    margin: 0;
  }
}