* {
  font-family: "Inter", "-apple-system";
}
body {
  margin: 0;
  font-family: "Inter", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0 10px 20px #999999;
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.content {
  .search-block {
    border: 1px solid #f3f3f3;
    padding: 0 15px;
    position: relative;
    .clear{
position: absolute;
right:0;
top: 12px;
right: 12px;
width: 20px;
height: 20pz;
    }
  }
  input {
    border: 0;
    padding: 13px;
    font-family: 16px;
    width: 180px;
  }
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cartTotalBlock {
  ul {
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px margin 0 7px;
    }
  }
  .greenButton {
    position: relative;
    &:hover {
      img {
        transform: translateX(5px);
      }
    }
    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  &:hover {
    background: lighten($color: #9dd558, $amount: 5%);
  }
  &:active {
    background: darken($color: #9dd558, $amount: 10%);
  }
}
